.header {
  background-color: $primary;
  color: white;
  text-align: center;
  height: auto;
}

.header-text {
  @include fontDef(2rem, white);
  font-family: 'Bangers', cursive;
  display: inline-block;
  text-transform: uppercase;
}

main {
  background-color: $secondary;
  height: auto;
}

.rules {
  text-align: center;
}

.rules-text {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  @include fontDef(1.3rem, $primary);
  text-align: left;
  padding: 30px 0;
}

.footer {
  background-color: $primary;
  padding: 20px;
  text-align: center;
  height: auto;
}

.footer-text {
  margin: 0;
  @include fontDef(1rem, white);
  font-family: 'Open Sans', sans-serif;
}

.footer-text a {
  text-decoration: none;
  color: white;
  font-style: italic;
}

.result {
  text-align: center;
  padding: 50px 0;
}

.result-text {
  display: inline-block;
  font-family: 'Bangers', cursive;
  @include fontDef(3rem, $primary);
  font-weight: 600;
}

.button {
  background-color: transparent;
  border: white 1px solid;
  color: $primary;
  font-family: 'Open Sans', sans-serif;
  @include fontDef(1.2rem, white);
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  padding: 15px 28px;
  border-radius: 4px;
}

.button:hover {
  background-color: $primary;
  color: white;
  border: none;
}

.button-container {
  text-align: center;
  padding-bottom: 100px;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}

img {
  width: 100%;
  height: 100%;
}

.flip-card {
  width: 200px;
  height: 260px;
  perspective: 600px;
  position: relative;
  margin-bottom: 20px;
}

.flip-card.active .flip-card-inner1,
.flip-card.active .flip-card-inner2,
.flip-card.active .flip-card-inner3 {
  transform: rotateY(180deg);
}

.flip-card-inner1,
.flip-card-inner2,
.flip-card-inner3 {
  cursor: pointer;
  width: 100%;
  height: 100%;
  position: relative;
  transition: 1s ease;
  transform-style: preserve-3d;    
}

.card__face {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

.card__face--front1,
.card__face--front2,
.card__face--front3 {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card__face--back1,
.card__face--back2,
.card__face--back3 {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

@media (max-width:800px) {
  .rules-text {
    padding: 30px;
  }
}
