html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  height: 20vh;
  background-color: #102B3F;
  color: white;
  text-align: center;
}

.header-text {
  font-size: 48px;
  color: white;
  font-family: 'Anton', sans-serif;
  display: inline-block;
  padding-top: 25px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h1 {
  margin: 0;
}

main {
  background-color: #A06CD5;
}

.rules {
  height: 20vh;
  text-align: center;
}

.rules-text {
  display: inline-block;
  font-family: 'Signika', sans-serif;
  margin-top: 30px;
  font-size: 24px;
  color: #102B3F;
}

.footer {
  background-color: #102B3F;
  padding: 20px;
  text-align: center;
}

.footer-text {
  margin: 0;
  font-size: 20px;
  color: white;
  font-family: 'Signika', sans-serif;
}

.footer-text a {
  text-decoration: none;
  color: white;
  font-style: italic;
}

.result {
  text-align: center;
}

.result-text {
  margin: 0;
  display: inline-block;
  font-family: 'Signika', sans-serif;
  font-size: 45px;
  color: #102B3F;
  padding-bottom: 30px;
}

.button {
  background-color: #102B3F;
  border: none;
  color: white;
  font-family: 'Signika', sans-serif;
  font-size: 20px;
  color: white;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  padding: 15px 28px;
  border-radius: 4px;
}

.button-container {
  text-align: center;
  padding-bottom: 20px;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 40vh;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.flip-card {
  width: 200px;
  height: 260px;
  -webkit-perspective: 600px;
          perspective: 600px;
  position: relative;
}

.flip-card.active .flip-card-inner1 {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.flip-card.active .flip-card-inner2 {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.flip-card.active .flip-card-inner3 {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.flip-card-inner1,
.flip-card-inner2,
.flip-card-inner3 {
  cursor: pointer;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.card__face {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.card__face--front1,
.card__face--front2,
.card__face--front3 {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card__face--back1,
.card__face--back2,
.card__face--back3 {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

@media (max-width: 700px) {
  .header-text {
    font-size: 30px;
    padding: 20px 40px 20px 40px;
  }
  .rules {
    margin-bottom: 80px;
  }
  .rules-text {
    padding: 0 5px 0 5px;
    font-size: 20px;
  }
  .cards {
    height: 100%;
  }
  .flip-card {
    padding: 5px;
  }
  .result-text {
    font-size: 35px;
    padding: 20px 5px 20px 5px;
  }
}
